@model ITIMVCProjectV1.ViewModel.CategoryNameViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminNavBar.cshtml";

}

<h2 class="text-center text-capitalize my-3"> Edit @Model.CategoryName Category  </h2>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <form action="@Url.Action("Edit","Category")" method="post">
                <input type="number" value="@Model.Category_id" name="Category_id" hidden />
                <input type="text" class="form-control mb-3" name="CategoryName" value="@Model.CategoryName" />
                <input type="submit" class="btn btn-primary mb-3" value="Edit" />
                <a href="@Url.Action("index","Category")" class="btn btn-secondary mb-3">  Cancel  </a>

            </form>
        </div>
    </div>
</div>

